.heading{
    text-align: center;
}

.flex-container {
    display: flex;
    flex-direction: column;
    background-color: rgb(182, 187, 193);
    width:1000px;
    position: absolute;
    margin-top: 600px;
    left: 50%;
    top: 50%;
    padding: 130px;
    transform: translate(-50%, -50%); 
    color: black;
    font-weight: bold;
  }